@font-face {
  font-family: 'Unbounded'; /* Название вашего шрифта */
  src: url('font/Unbounded-Regular.woff') format('woff2'), /* Формат шрифта WOFF */
}


body {
  margin: 0px !important;
  background-color: #252525;
  /* cursor: none; */
}
canvas {
  width: 100% !important;
}
